<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>TeCasa Workshops</title>
</head>
<body>
	<div>
		<h1>TeCasa</h1>
		<ul>
		
		 <label>Panel de Categorias: </label>
			<li><a href="/insertarCategoria">Insertar Categoria</a></li>
			<li><a href="/listarCategoria">Mantenimiento Categorias</a></li><br> 
			<label>Panel de Workshops: </label>
			<li><a href="/insertarWorkshop">Insertar WorkShop</a></li>
			<li><a href="/listarWorkshop">Listar WorkShop</a></li><br> 
				<label>Panel de listas por: </label>
				<li><a href="/listarPorCategoria">Listar WorkShop Por Categoria</a></li>
				<li><a href="/listarPorAutor">Listar WorkShop Por Autor</a></li>
				<li><a href="/listarPorKeywords">Listar WorkShop Por Keywords</a></li>
		</ul>
	</div>
</body>
</html>