<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Categoria</title>
</head>
<body>
	<div>
		<h1>Lista de Categoria</h1>
		<ul>
			<div th:each="entry : ${categorias}">
				<li>
					<h4>
						<b>Categoria: </b> <span th:text="${entry.name}">Nombre: </span>
						 
						
				
						<td><a th:href="@{/editarWorkshop/{id}(id=${entry.id})}"> Update </a></td>
						<br/>
						
					</h4>
				</li>
			</div>
		</ul>
	</div>
</body>
</html>