<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Workshops</title>
</head>
<body>
	<div>
		<h1>Lista de Workshops</h1>
		<ul>
			<div th:each="entry : ${workshops}">
				<li>
					<h4>
						<span th:text="${entry.name}">Name</span>
						<span th:text="${entry.texto}">Texto:</span>
						<span th:text="${entry.fecha}">Fecha:</span>
				
						<td><a th:href="@{/editar/{id}(id=${entry.id})}">Update </a></td>
						<a th:href="@{/detalle/{id}(id=${entry.id})}"> Tareas</a><br/>
						
					</h4>
				</li>
			</div>
		</ul>
	</div>
</body>
</html>